[tool.cibuildwheel]

archs = ["native"]
build-frontend = "build"

build = "cp38-* cp39-* cp310-* pp39-*"
skip = "pp* *-win* *-win32*"

before-test = "pip install packaging"
test-command = "echo 'Wheel installed successfully'"

[tool.cibuildwheel.linux]
before-all = "yum -y update && yum -y install blas-devel lapack-devel freetype-devel"

[[tool.cibuildwheel.overrides]]
select = "*-musllinux*"
before-all = "apk add --no-cache blas-dev lapack-dev freetype-dev"

[[tool.cibuildwheel.overrides]]
select = "*aarch64"
before-test = """
pip install packaging
export PIP_EXTRA_INDEX_URL=https://gitlab.kitware.com/api/v4/projects/13/packages/pypi/simple/
"""
