name: Build

on:
  release:
    types: [published]

jobs:
  build_wheels:
    name: Build wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-20.04]

    steps:
      - name: Checkout Scilpy 
        uses: actions/checkout@v4
        with:
          repository: scilus/scilpy
          ref: ${{ github.ref_name }}
          path: scilpy

      - name: Checkout Scilpypi
        uses: actions/checkout@v4
        with:
          path: scilpypi

      - name: Patch scilpy requirements
        run: |
          cp ${GITHUB_WORKSPACE}/scilpypi/scilpy-requirements.txt.fix ${GITHUB_WORKSPACE}/scilpy/requirements.txt
          cp ${GITHUB_WORKSPACE}/scilpypi/.python-version.fix ${GITHUB_WORKSPACE}/scilpy/.python-version
          cp ${GITHUB_WORKSPACE}/scilpypi/version.py.fix ${GITHUB_WORKSPACE}/scilpy/scilpy/version.py
          cp ${GITHUB_WORKSPACE}/scilpypi/setup.py.fix ${GITHUB_WORKSPACE}/scilpy/setup.py

      - name: Create source distribution for Scilpy
        run: pipx run build --sdist --outdir ${GITHUB_WORKSPACE}/sdist ${GITHUB_WORKSPACE}/scilpy

      - name: Build wheels for Scilpy
        uses: pypa/cibuildwheel@v2.16.2
        with:
          package-dir: ${GITHUB_WORKSPACE}/scilpy
          output-dir: ${GITHUB_WORKSPACE}/wheelhouse
        env:
          CIBW_BUILD_FRONTEND: build
          CIBW_BEFORE_ALL_LINUX: >
            yum -y update && yum -y install \
              blas-devel \
              lapack-devel \
              freetype-devel
          CIBW_BUILD: cp38-* cp39-* cp310-* pp39-*
          CIBW_SKIP: "*-win* *-win32* *-musllinux* *i686"
          CIBW_TEST_COMMAND: "echo 'Wheel installed sucecssfully'"

      - name: Upload wheels and source to artifacts
        uses: actions/upload-artifact@v3
        with:
          path: |
            ${GITHUB_WORKSPACE}/wheelhouse/*.whl
            ${GITHUB_WORKSPACE}/sdist/*.tar.gz

      - name: Get release information from Scilpy release
        id: scilpy-release-info
        uses: cardinalby/git-get-release-action@v1
        env:
          GITHUB_TOKEN: ${{ github.token }}
        with:
          repo: scilus/scilpy
          tag: ${{ github.ref_name }}
          doNotFailIfNotFound: true

      - name: Add wheels and sdist to release
        uses: softprops/action-gh-release@v1
        with:
          body: |
            Wheels and Source Distribution for Scilpy ${{ github.ref_name }}.
            ${{ steps.scilpy-release-info.outputs.body }}
          files: |
            ${GITHUB_WORKSPACE}/sdist/*.tar.gz
            ${GITHUB_WORKSPACE}/wheelhouse/*.whl
